
.h1 {
    
  color: #00a4d6;
  font-weight: 700;
  text-align: center;
}

/*

.col {
    max-width: none;
}


#personal {
    position: relative;
	width: 33.3333%;
	
	float: left;
}

#imgMid {
    position: relative;
    width: 33.3333%;
    text-align: center;
    
}

#my-img {
  height: auto;
}

#details {
    width: 33.3333%;
    float: right;
    position: relative;
}
*/

.rowAbout:after {
  content: "";
  display: table;
  clear: both;
}

.column-left{ 
  float: left;
  width: 33.3333%;
}
.column-right{ 
  float: right;
  width: 33.3333%;
}
.column-center{ 
  display: inline-block; 
  width: 33.3333%; 
  text-align: center;
}


@media screen and (max-width: 1000px) {
  
    #my-img:before {
        width: 100px;
        height: auto;
    }
  
  .column-left {
    width: 100%;
    
  }
  
  .column-right {
    width: 100%;
  }
  
  .column-center {
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
  }

#list-item {
  color: #00a4d6;
  font-weight: 700;
}

.detail-list {
    list-style: none;
    padding-left: 0;
}
