* {
  margin: 0;
}

html, body {
  height: 100%;
}

html {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Roboto, Arial, sans-serif;
  font-size: 62.5%;
  color: white;
  background: linear-gradient(to bottom, #2473ab 0%,#1e528e 70%,#5b7983 100%);
}

body {
  font-size: 1.8rem;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
}

a {
  color: white;
  text-decoration: none;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -7rem;
  position: relative;
}

footer, .push {
  height: 7rem;
}

footer .footer-contents {
  padding: 0 5rem;
  position: relative;
}

.website-nav {
  position: relative;
  padding: 5rem;
}

.website-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.website-nav ul li {
  float: left;
  padding: 0.5rem 2rem 0.5rem 0;
  line-height: 21px;
}

.website-nav ul li a {
  color: white;
  text-decoration: none;
}

.home-link {
  font-weight: bold;
}

.page-content {
  padding: 1rem 5rem;
}

.page-content p {
  margin-bottom: 1rem;
}




@media (min-height: 500px) and (min-width: 700px) {
  .message {
    padding: 0;
    width: 50%;
    left: calc(50vw - 5rem);
    top: calc(15vh - 5rem);
  }

}
@media (min-height: 500px) and (min-width: 1240px) {
  .message {
    left: calc(50vw - 10rem);
    top: calc(25vh - 5rem);
  }

  h1 {
    font-size: 5rem;
  }

  .message .twitter-link img {
    width: 80%;
    height: 80%;
  }
}

@media (min-aspect-ratio: 11/5)  {
  .graphics {
    display: none;
  }
}

.hero-matrix {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



hero-content {
  position: absolute;
  z-index: 1;
  left:100px;
  
}

.hero-content {
    position: relative; 
    font-family: "Monserrat", sans-serif;
    color: white;
    text-align: center;
    margin: 0.625rem;
}
.hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
}
.hero-subtitle {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
}



.hero-button {
    background-color: #ae2d59;
    color: white;
    border: 1px solid #cb376a;
    margin-top: 5rem;
    padding: 0.9375rem 1.875rem;
    font-family: "Monserrat", sans-serif;
    font-size: 1.125rem;
    font-weight: 200;
    cursor: pointer;
}
.hero-button:hover {
    background-color: #cb376a;
    border: 1px solid #db7598;
}

*{
    margin: 0;
    padding: 0;
}
            
body {background: black;}
canvas {display:block;}