* {
  margin: 0;
}

html, body {
  height: 100%;
}

html {
  margin: 0;
  padding: 0;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 62.5%;
  color: white;
  background: linear-gradient(to bottom, #2473ab 0%,#1e528e 70%,#5b7983 100%);
}

body {
  font-size: 1.8rem;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
}

a {
  color: white;
  text-decoration: none;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -7rem;
  position: relative;
}

footer, .push {
  height: 7rem;
}

footer .footer-contents {
  padding: 0 5rem;
  position: relative;
}

.website-nav {
  position: fixed;
  padding: 2rem;
  top: 0;
  transition: top 0.3s;
  background-color: #FFFFFF; opacity: 0.7; filter: alpha(opacity=50);
}

.website-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.website-nav ul li {
  float: left;
  padding: 0.5rem 2rem 0.5rem 0;
  line-height: 21px;
}

.website-nav ul li a {
  color: black;
  text-decoration: none;
}

.home-link {
  font-weight: bold;
}

.page-content {
  padding: 1rem 5rem;
}

.page-content p {
  margin-bottom: 1rem;
}


@media (min-aspect-ratio: 11/5)  {
  .graphics {
    display: none;
  }
}

.hero-matrix {
  position: absolute;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  /* Opacity can be given to background with rgba*/
  border: none;
  height: 12rem;
  padding: 3rem;
  top: 40%;
}



.hero-content {
    position: relative; 
    font-family: "Monserrat", sans-serif;
    color: white;
    margin: 0.625rem;
    background-color: rgba(255, 255, 255, 0.5);
    /* Opacity can be given to background with rgba*/
    border: none;
    height: 100px;
    align-items: center;
  }


.hero-button {
    background-color: #32a852;
    position: relative;
    color: white;
    border: 1px solid #32a852;
    margin-top: 1.3rem;
    padding: 0.9375rem 1.875rem 1.875rem 1.875rem;
    font-family: "Monserrat", sans-serif;
    font-size: 2.125rem;
    font-weight: 200;
    cursor: pointer;
    border-radius: 8px;
}
.hero-button:hover {
    background-color: #138717;
    border: 1px solid #138717;
}

.about{
  padding-top: 2rem;
}

#about-head{
  text-align: center;
}

