* {
  margin: 0;
}

html, body {
  height: 100%;
}

html {
  margin: 0;
  font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;;
  font-size: 62.5%;
  color: white;
  /*background: linear-gradient(to bottom, #2473ab 50%,#1e528e 70%,#5b7983 50%);*/
  background-color: rgba(189, 252, 245, .3);
}

body {
  font-size: 1.8rem;
}

h1, h2, h3 {
  font-weight: normal;
  color: black;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
}

a {
  color: white;
  text-decoration: none;
}

p {
  color: black;
}



.website-nav {
  position: fixed;
  padding: 2rem;
  top: 0;
  transition: top 0.3s;
  background-color: #FFFFFF; opacity: 0.7; filter: alpha(opacity=50);
}

.website-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.website-nav ul li {
  float: left;
  padding: 0.5rem 2rem 0.5rem 0;
  line-height: 21px;
}

.website-nav ul li a {
  color: black;
  text-decoration: none;
}

.home-link {
  font-weight: bold;
}


.page-content p {
}


@media (min-aspect-ratio: 11/5)  {
  /*.graphics {
    display: none;
  }*/
  
   
}

.hero-matrix {
  position: absolute;
  border-radius: 8px;
  background-color: rgba(000, 000, 000, 0.7);
  color: white;
  /* Opacity can be given to background with rgba*/
  border: none;
  height: 12rem;
  top: 40%;
  left: 10%;
  padding: 3rem;
}



.hero-btn{
  background-color: #2472a9;
    position: relative;
    color: white;
    border: 1px solid #2472a9;
    margin-top: 1.3rem;
    padding: 1rem;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2.4rem;
    font-weight: 300;
    cursor: pointer;
    border-radius: 8px;
}
.hero-btn:hover {
    background-color: #045894;
    border: 1px solid #045894;
}
.about{
  margin: 5rem;
  display: block;
}

#about-head{
  text-align: center;
  color: #00a4d6;
  font-weight: 700;
  padding-bottom: 5rem;
}



#my-img {
  height: auto;
  position: relative;
}

#personal {
  color: black;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.column-left{ 
  float: left;
  width: 35%;
}
.column-right{ 
  float: right;
  width: 35%;
}
.column-center{ 
  display: inline-block; 
  width: 30%; 
  text-align: center;
}


@media screen and (max-width: 400px) {
  #my-img {
  width: 40%;
  }
  
  .column-left {
    width: 100%;
    
  }
  
  .column-right {
    width: 100%;
  }
  
  .column-center {
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
  }
  
  .skills {
    margin-top: 1rem;
  }
  
  #about-head {
    padding-bottom: 0rem;
  }
  
  .about {
    margin-bottom: 1rem;
  }
  
  
}


.detail-list {
  color: black;
  list-style: none;
}

.detail-list li{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#list-item {
  color: #00a4d6;
  font-weight: 700;
  
}

.skills {
  color: white;
  justify-content: center;
  margin-top: 20rem;
  display: flex;
  flex-flow: column;
}

.skills h1 {
  
  text-align: center;
  color: #00a4d6;
  font-weight: 700;
}

.SkillList {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.SkillList h2 {
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}


.line {
  height: 25px;
  min-width: 55%;
  line-height: 25px;
  font-size: 2rem;
  color: #fff;
  padding: 0 0 0 10px;
  position: relative;
  
}

.line:before {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  height: 25px;
  top: 0;
  z-index: -2;
  background: #d2d6d7;
}

.line:after {
  content: '';
  background: #fff;
  height: 25px;
  transition: 0.8s;
  display: block;
  width: 100%;
  animation: skillAnimate 1 4s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  
  
  
}

.line1:after{
  max-width: 80%;
  background: #ff3c00;
  
}

.line2:after{
  max-width: 60%;
  background: #00bbff;
}

.line3:after{
  max-width: 70%;
  background: #ff3c00;
}

.line4:after{
  max-width: 50%;
  background: #00bbff;
}
.line5:after{
  max-width: 35%;
  background: #ff3c00;
}


.line6:after{
  max-width: 30%;
  background:#00bbff;
}


.line7:after{
  max-width: 30%;
  background: #ff3c00;
}


.line8:after{
  max-width: 60%;
  background: #00bbff;
}


@keyframes skillAnimate {
  0%{
    width: 0;
  }
  
  100%{
    width: 100%;
  }
}


